.caption.remote-video__info {
    display: none !important;
}

#header {
    display: none !important;
}

.popup-container {
    z-index: 2000!important;
}

#local-video-warning-popup {
    z-index: 3000!important;
}

#local-video-warning-popup * {
    z-index: 3001;
}

.popup-container * {
    z-index: 2010!important;
}

#ai-tpl-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 1000;
}

#ai-tpl-container .controls {
    padding: 3px;
}

#ai-tpl-container .controls button {
    margin-right: 3px;
    border: none;
    background: #dcdcdc;
    padding: 3px 7px;
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
}

#ai-tpl-container .controls button:hover {
    background: #c3c3c3;
}

#ai-tpl-container video {
    background: rgb(0, 177, 64);
    background-repeat: no-repeat;
    background-position: center;

    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background-size: contain;
    max-width: 49.5%;
    padding: 0;
}

#ai-tpl-container .panel {
    margin-bottom: 0px;
}

#ai-tpl-container .chat-window {
    position: fixed;
    top: 50px;

    float: right;

    right: 0px;
}

#ai-tpl-container .chat-window > div > .panel {
    border-radius: 5px 5px 0 0;
}

#ai-tpl-container .icon_minim {
    padding: 2px 10px;
}

#ai-tpl-container .msg_container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 500px;
    min-height: 400px;
    overflow-x: hidden;
}

#ai-tpl-container .top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

#ai-tpl-container .msg_receive {
    padding-left: 0;
    margin-left: 0;
}

#ai-tpl-container .msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

#ai-tpl-container .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

#ai-tpl-container .messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

#ai-tpl-container .messages > time {
    font-size: 11px;
    color: #ccc;
}

#ai-tpl-container .msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

#ai-tpl-container img {
    display: block;
    width: 100%;
}

#ai-tpl-container .avatar {
    position: relative;
}

#ai-tpl-container .base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#ai-tpl-container .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

#ai-tpl-container .base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);

}

#ai-tpl-container .msg_sent > time {
    float: right;
}


#ai-tpl-container .msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#ai-tpl-container .msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#ai-tpl-container .msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

#ai-tpl-container .visible {
    right: 0px !important;
}

#ai-tpl-container #vi-pic {
    background: rgb(0, 177, 64);
    background-repeat: no-repeat;
    background-image: url(/img/0.gif);
    background-position: center;

    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background-size: cover;
    max-width: 49.5%;
    padding: 0;
}

#ai-tpl-container #vi-pic2 {
    background: rgb(0, 177, 64);
    background-repeat: no-repeat;
    background-image: url(/img/2.gif);
    background-position: center;

    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background-size: cover;
    max-width: 49.5%;
    padding: 0;
}

#ai-tpl-container #remoteVideo {
    background: rgb(0, 177, 64);
    background-repeat: no-repeat;

    background-size: cover;
}

#ai-tpl-container #remoteVideo2 {
    background: rgb(0, 177, 64);
    background-size: cover;
    display: block;
}

#ai-tpl-container .chat {
    border: 1px solid #333;
    margin: 15px;

    background: #555;
    color: #fff;
    background-position: center;
    max-width: 49.5%;
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    float: left;
    position: relative;
    margin-left: 405px;
    margin-top: -300px;
    margin-right:1%;
}

#ai-tpl-container .chat-messages {
    min-height: 89%;
    max-height: 89%;
    overflow: auto;
}

#ai-tpl-container .chat-messages__content {
    padding: 1px;
}

#ai-tpl-container .chat__message {
    border-left: 3px solid #333;
    margin-top: 2px;
    padding: 2px;
}

#ai-tpl-container .chat__message_black {
    border-color: #000;
}

#ai-tpl-container .chat__message_blue {
    border-color: blue;
}

#ai-tpl-container .chat__message_green {
    border-color: green;
}

#ai-tpl-container .chat__message_red {
    border-color: red;
}

#ai-tpl-container .chat-input {
    min-height: 6%;
}

#ai-tpl-container input {
    font-family: arial;
    font-size: 16px;
    vertical-align: middle;
    background: #333;
    color: #fff;
    border: 0;
    display: inline-block;
    margin: 1px;
    height: 30px;
}

#ai-tpl-container .chat-form__input {
    width: 79%;
}

#ai-tpl-container .chat-form__submit {
    width: 18%;
    background: #8b008b;
}

#ai-tpl-container .form-check-input {
    position: relative;
    margin-top: 0;
    margin-left: 0;
}